/* common */
* {
  box-sizing: border-box;
}
body {
  /* justify-content: space-evenly; */
  font-family: "Poppins", sans-serif;
  font-family: "Sen", sans-serif;
}
a {
  padding: 0;
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 24.5px;
  background: #171100;
  cursor: pointer;
}

/* margin top 200 */
.margin-top-200 {
  margin-top: 200px;
}
/* padding */

ul li {
  list-style: none;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
main {
  width: 100%;
  /* height: 100%; */
}
/* -------------header-------------- */
header {
  min-width: 1440px;
  padding: 0 135px 0 135px;
  display: flex;
  align-items: center;
  z-index: 99;
  /* margin-top: 40px; */
  height: 80px;
  background-color: #fffcf4;
  position: sticky;
  top: 0;

  .logo {
    width: 30%;
    color: #171100;
    font-family: Sen;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
  }
}

.logo span {
  color: #ffb900;
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
nav {
  width: 25%;
  ul {
    display: flex;
    gap: 35px;
    margin-right: 70px;
  }
}
nav li {
  color: #5f5b53;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
header button {
  border: none;
  width: 144px;
  height: 49px;
}
.ul-edit {
  color: #171100;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  a {
    padding: 10px;
    display: inline-block;
    width: 70px;
  }
}
.ul-edit a:hover {
  color: #171100;
  font-weight: 600;
}

/* --------------main-------------- */

.content {
  background: #fffcf4;

  padding-bottom: 65px;
  padding: 0 135px 0 135px;
  display: flex;
  .title-course {
    margin: 167px 0 0 230px;
  }
}

.title-course h1 {
  color: #171100;
  font-family: Sen;
  font-size: 58px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -1.16px;
}
.title-course p {
  width: 470px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 22px;
}

.watch-vid {
  margin-top: 38px;
  display: flex;
  align-items: center;
  img {
    margin: 10px 0 0 15px;
  }
}

.watch-vid button {
  width: 180px;
  height: 64px;
  border-radius: 32px;
  background: #ffb900;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  border: none;
}
.watch-vid button:hover {
  background: #171100;
}
.watch-vid a {
  padding: 0;
  font-family: Poppins;
  width: 148px;
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-right: 14px;
}
.recent {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 40px;
}
.student-courses {
  display: flex;
  gap: 28px;
  margin-top: 8px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  strong {
    color: #171100;
    font-family: Sen;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
  }
}

/* ava-content */
.ava-content {
  position: relative;
  width: 470px;
  height: 685px;
  margin-top: 72px;
}
.info-ava {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 22px 50px 24px 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  bottom: 48px;
  right: -100px;
  gap: 22px;
  .edit {
    display: flex;
  }
}
.infors > span {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.infors h3 {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.edit img {
  width: 55px;
  height: 55px;
}

.infors {
  margin-left: 16px;
}

/*---------- Our popular courses----------*/
.info,
header {
  display: flex;
  justify-content: space-between;
}

.popular-course {
  padding: 28px 135px;
  margin-top: 101px;
}
.popular-course .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-course .title h2 {
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.76px;
}

.popular-course .title p {
  margin-top: 16px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.course-content {
  margin-top: 55px;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.box-shadow-content {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.border-content {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.info {
  h3 {
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
  }
  span {
    color: #fea31b;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
}

.info-padding {
  padding: 16px 22px 22px 22px;
  p {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
}
.reviews-rate {
  display: flex;
  gap: 6px;
  align-items: center;
  img {
    width: 20px;
    height: 17px;
  }
}
.book-now {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  align-items: center;
  span {
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
  }
  button {
    font-size: 14px;
    line-height: 26px;
    padding: 12px 24px;
    border: none;
  }
}
button:hover {
  background: #ffb900;
}

.title .back-next {
  display: flex;
  gap: 15px;
  button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #ffb900;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    width: 6px;
    height: 12px;
    padding: 0;
  }
  i {
    color: #ffb900;
  }
}
.back-next button:hover {
  background-color: #ffb900;
  i {
    color: #fff;
  }
}
i {
  font-size: 13px;
}

/* <!----------- Testimonial--------- --> */

.testimonial {
  padding: 96px 135px;

  /* height: 900px; */
  width: 100%;
  background-color: #2e2100;
  display: flex;
}
.dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
  .dot {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #634700;
  }
}
.dot:hover {
  background-color: #ffb900;
  cursor: pointer;
}

.info-student {
  display: flex;
  flex-direction: column;
  span {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }
  div {
    margin-top: 4px;
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
}
.testi-desc {
  margin-left: 271px;
  position: relative;

  blockquote {
    margin-top: 28px;
    color: #fff;
    font-family: Poppins;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
  }
  img {
    position: absolute;
    left: -32px;
  }
}

/* ---------Features---------- */
.features {
  padding: 0 135px;
  gap: 130px;
  display: flex;
}

.features-img {
  gap: 30px;
  display: flex;
  img {
    width: 270px;
    height: 405px;
  }
  .margin-top-34 {
    margin-top: 34px;
  }
}

.features-info {
  h1 {
    margin-top: 58px;
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
  }
  p {
    margin-top: 16px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}
.btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: #ffb900;
}

/* ----------cta------------ */
.cta-group {
  padding: 0 135px 200px 135px;

  display: flex;
}
.cta-info {
  h1 {
    margin-top: 71px;
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
  }
  p {
    margin-top: 16px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  button {
    margin-top: 32px;
  }
}
.btn:hover {
  background: #171100;
}
